body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #212121;
}

.card {
  max-width: 420px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  background: #b2ebf2;
}

button {
  background: #00bcd4;
  border: none;
  padding: 14px 20px;
  margin-top: 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
